.container {
	padding: 5px 400px 0% 500px;
}
.main {
	border-top: solid 1px #000;
}

#foto {
	width: 500px;
	height: 400px;
}

div.tip{
    text-align: center;
    padding: center;
    width: 650px;
    height: 30px;
    background: #abebc7;
    opacity: 0.7;

}

span.tip{
font-weight: bold;
}

.main2 ul {
    margin-left: 40px;
}

.main2 ul li{
    list-style: none;
    float: left;
    line-height: 40px;
}

.main2 ul li a{
    text-decoration: none;
    font-size: 18px;
    font-family: Roboto;
    color: #000000;
    padding: 0 25px;
}

h2 {
	font-family: Roboto;
}